html, body{
    margin: 0;
    padding: 0;
    background-color: teal;
  }
.moist {
    color: darkblue;
    font-size: 60px;
    text-align: center;
}
.containerss {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.ssimg, .pcssimg, .pcbimg {
    border: purple solid 2px;
    width: 30vw;
    display: block;
    margin: auto;
}
h1 {
    text-align: center;
}
ol {
    padding-top: .5em;
    border-top: black solid 2px;
}
footer {
    text-align:center ;
}
a {
    color: rgba(255,255,255,.75);
}
a:hover {
    color: rgb(255,255,255);
}
a:after {
    color: rgb(126, 126, 126);
}
h1 {
    margin-top: 0px;
}
.bottom {
    background-color: magenta;
    border-radius: 10%;
    width: 95vw;
    margin: 16px auto 4px auto;
    border: purple solid 4px;
}
.desc {
    background-color: rgb(204, 0, 255);
    border-radius: 10%;
    width: 95vw;
    margin: 16px auto 4px auto;
    border: purple solid 4px;
    text-align: center;
}